/* ==========================================================================
   Layout
   ========================================================================== */


/* Header
   ========================================================================== */
.home header
    background: transparent
    
header
    position: relative
    z-index: 1000
    width: 100%
    background: image-url("headers/banner1.jpg") #f1f1f1
    background-size: cover

    .container
        position: relative

        h1
            margin: 0
            line-height: 0

        h1 a.logo
            display: block
            float: left
            left: 0
            width: 200px
            height: 50px
            background: image-url("logo.png") no-repeat
            

/*______ Section: Navigation _____*/
nav.navbar
    margin-bottom: 0
    padding: 7px 0 4px
    +border-radius(0)
    background: transparent

    a, a:visited
        color: $color-brightest
        &:hover
            color: $color-brightest
            text-decoration: none

    .nav
        display: inline-block
        & > li
            display: inline-block
            position: relative
            padding: 5px 0
            & > a
                padding: 8px 15px
                +border-radius(10px)
                text-transform: uppercase
                margin-left: 5px
                &:hover
                    background-color: $color-primary

        //Active State --
        .active > a,
        .current_page_item > a,
        .current_page_ancestor > a,
        .current-menu-item > a,
        .current-menu-ancestor > a
            color: $color-brightest
            background-color: $color-primary
            text-decoration: none

        //Sub-Menu --
        .menu-toggle
            display: none

        .sub-menu
            top: 30px

        .sub-menu,
        .children
            background-color: $color-bright
            border-top: 0
            display: none
            padding: 0
            position: absolute
            left: -2px
            z-index: 3000
            list-style: none
            li
                padding: 6px 5px
                text-align: center
                +border(bottom, #555)
                background: $color-dark
                a
                    color: $color-brightest
                    margin: 0
                    display: block
                    min-width: 200px
                    text-decoration: none

                &:hover
                    background: $color-secondary
                    color: $color-brightest
                    a
                        color: $color-brightest
                          
      
            .sub-menu ul,
            .children ul
                border-left: 0
                left: 100%
                top: 0px
      
            //HOVER ACTIVATION
            li:hover > ul, li:hover > ul
                display: block


/*______ Section: Page Heading _____*/
.page-intro
    background: image-url("headers/banner1.jpg")
    background-size: cover
    color: $color-brightest

    .tint
        padding: 30px 0
        position: relative

    .col-md-6:last-child
        text-align: right

    .col-md-6 a, .page-intro .col-md-6 h1
        color: $color-brightest

    .col-md-6 h1
        margin-bottom: 0

.breadcrumb
    background: transparent
    line-height: 40px
    margin-bottom: 0



/* Main Body, Content Area
   ========================================================================== */
section
    padding: 80px 0


.main-body
    padding: 40px 0
// .primary, .secondary


.secondary
    aside
        margin-bottom: 30px
    h3
        color: $color-text
        margin-bottom: 5px
    ul
        padding-left: 0
        margin-left: 0
        margin-bottom: 35px
    ul li
        list-style: none
        border-bottom: 1px solid $color-bright
        line-height: 40px
        margin-bottom: 0
        a
            color: $color-text
            &:hover
                color: $color-primary
                text-decoration: none

        &.current_page_item > a,
        &.current_page_ancestor > a,
        &.current-menu-item > a,
        &.current-menu-ancestor > a
            color: $color-primary

        ul ul li
            border-bottom: none
            line-height: 30px
            padding-left: 20px

    // li:before
    //     font-family: 'FontAwesome'
    //     content: '\f105'
    //     margin: 0 10px 0 -15px




/* Footer
   ========================================================================== */
footer
    background: $color-darkest

    hr
        border-bottom: 1px solid $color-dark
        margin: 5px 0

    .container .row
        padding: 25px 0

        ul
            padding-left: 0
            padding-top: 5px

            li
                list-style: none
                float: left
                a
                    color: $color-text
                    text-decoration: none
                    padding: 0 10px

                    &:hover
                        color: $color-primary
                        text-decoration: none
                &:after
                    content: "|"
                    color: $color-text
                    &:after:last-child
                        content: " "


        .social
            text-align: center
            a
                width: 30px
                height: 30px
                border-radius: 50%
                font-size: 100%
                background: $color-text
                line-height: 30px
                display: block
                margin-right: 15px
                padding: 0 10px
                float: right
                color: $color-bright

                &:hover
                    background: $color-primary
                    text-decoration: none
            a:first-child
                margin-right: 0

        .copyright
            text-align: center
            +font(11px)
            color: $color-text

    .row:last-child
        padding: 20px 0

