/* ==========================================================================
   MODULES
   ========================================================================== */


// ----- LIST -----
.primary article
    ul
        list-style-type: none
        padding-left: 15px

        li:before
            font-family: 'FontAwesome'
            content: '\f00c'
            margin: 0 5px 0 -15px

        li
            margin-bottom: 15px

    ol li:before
        content: none



// ----- TABLE -----
article table
    thead tr
        background: $color-primary
        color: $color-brightest

    tr:nth-child(2n)
        background: #e0e3e5

    tr
        background: #f1f1f1

    tr td
        padding: 5px 10px


// Pagination
.pagination .page-numbers
    padding: 10px
    background: $color-primary
    color: $color-brightest
    margin-right: 5px
    border-radius: 4px

.pagination .page-numbers.current
    background: $color-secondary
    color: $color-brightest
    
nav.post-navigation
    +border(top, #ccc)
    padding-top: 20px
    height: 80px
    
nav .navigation
    border-top: 1px solid $color-bright
    padding-top: 25px

nav .nav-links a
    display: inline-block
    color: $color-brightest
    background: $color-secondary
    padding: 2px 8px
    +border-radius(4px)
    &:first-child
        float: left !important
    &:last-child
        float: right


// Gallery
.gallery-area
    .col-md-4
        padding-left: 0
        padding-right: 0
    .image
        height: 290px



// Icon
.block-icon
    width: 40px
    height: 40px
    line-height: 40px
    font-size: 100%
    text-align: center
    background: $color-primary
    color: $color-brightest
    +border-radius(50%)
    margin: 0 auto
    display: block

.block-icon-o
    width: 40px
    height: 40px
    line-height: 40px
    font-size: 100%
    text-align: center
    background: transparent
    color: $color-brightest
    border: 2px solid $color-brightest
    +border-radius(50%)
    margin: 0 auto
    display: block

.block-icon.large
    width: 70px
    height: 70px
    line-height: 70px
    +font(30px)

.block-body
    h3
        margin-top: 20px
        margin-bottom: 10px

.social .block-icon
    display: inline-block    

// Image Hover
.image
    display: block
    height: 190px
    margin-bottom: 20px
    overflow: hidden
    position: relative
    img
        position: absolute
        width: 100%
        min-height: 100%

.image-hover-fx
    position: relative
    overflow: hidden

    .image-overlay
        background-color: $color-primary
        width: 100%
        height: 100%
        display: block
        position: absolute
        top: 0
        left: 0
        opacity: 0
        filter: alpha(opacity=0)
        -webkit-transition: all 0.2s ease
        transition: all 0.2s ease

    .portfolio-zoom
        width: 65px
        height: 65px
        text-align: center
        background-color: $color-darkest
        display: none
        line-height: 65px
        position: absolute
        top: 50%
        left: -65px
        margin-top: -22px
        +font(30px)
        color: #fff
        display: block
        border-radius: 2px
        &:hover
            background: $color-primary

    .title-fx
        position: absolute
        bottom: 15%
        color: white
        text-align: center
        width: 100%
        +font(20px)
        opacity: 0

// Hover Effects
.image-item:hover .image-hover-fx .image-overlay
    opacity: 0.50
    filter: alpha(opacity=50)

.image-item:hover .image-hover-fx .portfolio-zoom
    display: block
    left: 50%
    margin-left: -35px
    -webkit-transition: all 0.2s ease
    transition: all 0.2s ease

.image-item:hover .image-hover-fx .title-fx
    opacity: 1
    transition: all 0.3s ease


/* ==========================================================================
   ADVERTISING
   ========================================================================== */

.ad
    margin: 0 auto
    background: #f1f1f1
    border: 1px solid #fff
    overflow: hidden


.ad:after
    content: "Advertise here"
    +font(13px)
    text-align: center
    width: 100%
    display: block


.ad.leaderboard:after 
    line-height: 90px 

.ad.medrectangle:after 
    line-height: 250px 

.leaderboard
    width: 728px
    height: 90px


.medrectangle
    width: 300px
    height: 250px
