/* ==========================================================================
   VARIABLES
   ========================================================================== */

/*___________________________ TEXT ___________________________*/
$color-background: #FFF;
$color-white: #FFF;
$white: #FFF;

$color-primary: #1FAE4A;
$color-secondary: #4ec0c2;

$color-text: #8c989e;

$color-brightest: #fff;
$color-bright: #e1e1e1;
$color-medium: #777;
$color-dark: #333;
$color-darkest: #111;

$font-primary: 'open_sansregular', Arial, Helvetica, Sans-serif;
$font-secondary: 'open_sanslight', Arial, Helvetica, Sans-serif;
$font-tertiary: 'open_sansbold', Arial, Helvetica, Sans-serif;


$font-size-x-small: 12px;
$font-size-small: 16px;
$font-size-medium: 20px;
$font-size-medium-large: 22px;
$font-size-large: 25px;
$font-size-x-large: 32px;
$font-size-xx-large: 41px;

/*___________________________ SPACING ___________________________*/
$spacing-x-small: 5px;
$spacing-small: 15px;
$spacing-medium: 25px;
$spacing-large: 50px;
$spacing-x-large: 75px;
$spacing-xx-large: 100px;
