
/* ==========================================================================
   Global
   ========================================================================== */

body
    background: $clrBackground
    padding: 0px
    font-family: $fontPrimary
    color: $clrText
    font-size: 14px

a, a:visited
    color: $clrPrimary
    text-decoration: none
    +transition(all 0.2s ease-in-out)

a:hover, a:focus, a:active
    color: $clrSecondary
    text-decoration: none

hr
    margin: 15px 0
    border: 0
    border-bottom: 1px solid $clrLight

.img-fit img
    width: 100%

/* ==========================================================================
   Buttons
   ========================================================================== */

.btn
    color: $clrBrightest
    background: $clrPrimary
    //+border-radius(4px)
    //+box-shadow(0px)
    +transition(all 0.4s ease-in-out)



/* ==========================================================================
   Forms
   ========================================================================== */

form
    input[type="text"], input[type="email"], input[type="url"]
        width: 100%
        height: 30px
        padding: 4px
        background: $clrBackground
        border: 1px solid $clrLight
        color: $clrText
        font-size: 13px
        +border-radius(5px)
        margin-bottom: 15px

    textarea
        width: 100%
        height: 100px
        padding: 4px
        background: $clrBackground
        border: 1px solid $clrLight
        color: $clrText
        font-size: 13px
        +border-radius(5px)

    input[type="button"], input[type="submit"]
        height: 36px
        padding: 8px
        background: $clrPrimary
        cursor: pointer /* hand-shaped cursor */
        cursor: hand /* for IE 5.x */
        border: none
        color: $clrBrightest
        font-size: 14px
        -moz-border-radius: 5px
        border-radius: 5px
        &:hover
            background-color: $clrSecondary


/* ==========================================================================
   Layout Structure
   ========================================================================== */


/* ----- HEADER ----- */

header
    position: absolute
    z-index: 2000
    width: 100%
    .navbar
        margin-bottom: 0
        padding: 20px 0

    .container
        position: relative

        h1
            margin: 0
            line-height: 0

        h1 a.logo
            display: block
            float: left
            left: 0
            width: 200px
            height: 50px
            background: image-url("logo.png") no-repeat

// Navigation
nav
    background: transparent

    a, a:visited
        color: $clrBrightest
        &:hover
            color: $clrBrightest
            text-decoration: none

    .nav li
        display: inline-block
        position: relative
        padding: 5px 0

    .nav > li > a
        padding: 8px 15px
        +border-radius(10px)
        text-transform: uppercase
        &:hover
            background-color: $clrPrimary

    /*Active State */
    .nav
        .current_page_item > a,
        .current_page_ancestor > a,
        .current-menu-item > a,
        .current-menu-ancestor > a
            color: $clrBrightest
            font-weight: bold
            text-decoration: none

    button.navbar-toggle
        background-color: $clrPrimary

.navbar
    margin-bottom: 0

/* Sub-Menu */
.nav
    display: inline-block

    .menu-toggle
        display: none

    .sub-menu li a, .sub-menu li ul li a
        color: $clrPrimary
        display: block
        font-size: 15px
        line-height: 1
        padding: 10px 20px
        text-decoration: none
        min-width: 200px

    .sub-menu
        top: 30px

    .sub-menu,
    .children
        background-color: $clrLight
        border-top: 0
        display: none
        padding: 0
        position: absolute
        left: -2px
        z-index: 99999
        font-family: $fontPrimary
        list-style: none

    .sub-menu ul,
    .children ul
        border-left: 0
        left: 100%
        top: 0px

ul.nav ul a,
.nav ul ul a
    color: #fff
    margin: 0

ul.nav ul a:hover,
.nav ul ul a:hover
    background-color: #ccc

ul.nav li:hover > ul,
.nav ul li:hover > ul
    display: block



/* ----- BANNER ----- */
.banner
    overflow: hidden
    position: relative


.carousel
    margin-bottom: 60px

    .container
        position: relative
        z-index: 9

    .down-button
        position: absolute
        bottom: 40px
        left: 47.5%
        z-index: 10
        width: 80px
        height: 80px
        line-height: 80px
        font-size: 30px
        color: $clrBrightest

    .item
        height: $bannerHeight

        img
            position: absolute
            top: 0
            left: 0
            min-width: 100%
            height: 100%

    .carousel-caption
        background-color: transparent
        width: 600px
        margin: 0 auto
        top: 20%

        h1, .carousel-caption p
            margin: 0
            line-height: 1.25
            color: #fff
            text-shadow: 0 1px 1px rgba(0,0,0,.4)

        h1
            font-size: 50px
        p
            font-size: 22px
        a.btn
            padding: 10px 20px
            font-size: 20px
            text-transform: uppercase
            background-color: transparent
            border: 2px solid $clrBrightest
            color: $clrBrightest
            margin-top: 15px


    .carousel-control
        z-index: 5

        .glyphicon-chevron-left, .glyphicon-chevron-right
            top: 44%
            background: $clrDark
            height: 80px
            width: 50px
            line-height: 77px
            color: $clrBrightest

        .glyphicon-chevron-left
            left: 0
        .glyphicon-chevron-right
            right: 0


/* Page Heading */
.page header, .single header
    position: relative
    margin-bottom: 0 !important

.page-intro
    background: image-url("headers/banner1.jpg")
    background-size: cover
    color: $clrBrightest

    .tint
        padding: 30px 0
        position: relative

    .col-md-6:last-child
        text-align: right

    .col-md-6 a, .page-intro .col-md-6 h1
        color: $clrBrightest

    .col-md-6 h1
        margin-bottom: 0

.breadcrumb
    background: transparent
    line-height: 40px
    margin-bottom: 0



/* ----- CONTENT ----- */
.main
    padding: 30px 0
.main .container > .row
    padding: 60px 0

// .primary, .secondary


.secondary
    aside
        margin-bottom: 30px
    h3
        color: $clrText
        margin-bottom: 5px
    ul
        padding-left: 0
        margin-left: 0
        margin-bottom: 35px
    ul li
        list-style: none
        border-bottom: 1px solid $clrLight
        line-height: 40px
        margin-bottom: 0
        a
            color: $clrText
            &:hover
                color: $clrPrimary
                text-decoration: none

        &.current_page_item > a,
        &.current_page_ancestor > a,
        &.current-menu-item > a,
        &.current-menu-ancestor > a
            color: $clrPrimary

        ul ul li
            border-bottom: none
            line-height: 30px
            padding-left: 20px

    // li:before
    //     font-family: 'FontAwesome'
    //     content: '\f105'
    //     margin: 0 10px 0 -15px




/* ----- FOOTER ----- */
footer
    background: $clrDark

    hr
        border-bottom: 1px solid $clrMutedDark
        margin: 5px 0

    .container .row
        padding: 25px 0

        ul
            padding-left: 0
            padding-top: 5px

            li
                list-style: none
                float: left
                a
                    color: $clrText
                    text-decoration: none
                    padding: 0 10px

                    &:hover
                        color: $clrPrimary
                        text-decoration: none
                &:after
                    content: "|"
                    color: $clrText


        .social
            text-align: center
            a
                width: 30px
                height: 30px
                border-radius: 50%
                font-size: 100%
                background: $clrText
                line-height: 30px
                display: block
                margin-right: 15px
                padding: 0 10px
                float: right
                color: $clrLight

                &:hover
                    background: $clrPrimary
                    text-decoration: none
            a:first-child
                margin-right: 0

        .copyright
            text-align: center
            font-size: 11px
            color: $clrText

    .row:last-child
        padding: 20px 0


@media (max-width: 767px)
    footer .container
        text-align: center

        .pull-right
            float: none !important


/* ==========================================================================
   Features / Page Elements
   ========================================================================== */


.cta .block-icon
    width: 70px
    height: 70px
    line-height: 70px
    font-size: 30px

a.cta:hover h3
    background: rgba(31, 174, 75, 1)

.block-body
    h3
        margin-top: 20px
        margin-bottom: 10px

// Gallery
.gallery-area
    .col-md-4
        padding-left: 0
        padding-right: 0
    .image
        height: 290px

// ----- LIST -----
article.primary
    ul
        list-style-type: none
        padding-left: 15px

        li:before
            font-family: 'FontAwesome'
            content: '\f058'
            margin: 0 5px 0 -15px

        li
            margin-bottom: 15px

    ol li:before
        content: none



// ----- TABLE -----
article table
    thead tr
        background: $clrPrimary
        color: $clrBrightest

    tr:nth-child(2n)
        background: #e0e3e5

    tr
        background: #f1f1f1

    tr td
        padding: 5px 10px



/* EFFECTS & EXTRAS */

// Icon
.block-icon
    width: 40px
    height: 40px
    line-height: 40px
    font-size: 100%
    text-align: center
    background: $clrPrimary
    color: $clrBrightest
    +border-radius(50%)
    margin: 0 auto
    display: block

.block-icon-o
    width: 40px
    height: 40px
    line-height: 40px
    font-size: 100%
    text-align: center
    background: transparent
    color: $clrBrightest
    border: 2px solid $clrBrightest
    +border-radius(50%)
    margin: 0 auto
    display: block

.block-icon.large
    width: 70px
    height: 70px
    line-height: 75px
    font-size: 25px


// Image Hover
.image
    display: block
    height: 190px
    margin-bottom: 20px
    overflow: hidden
    img
        position: absolute
        width: 100%
        min-height: 100%


.image-hover-fx
    position: relative
    overflow: hidden

    .image-overlay
        background-color: $clrPrimary
        width: 100%
        height: 100%
        display: block
        position: absolute
        top: 0
        left: 0
        opacity: 0
        filter: alpha(opacity=0)
        -webkit-transition: all 0.2s ease
        transition: all 0.2s ease

    .portfolio-zoom
        width: 65px
        height: 65px
        text-align: center
        background-color: $clrDark
        display: none
        line-height: 65px
        position: absolute
        top: 50%
        left: -65px
        margin-top: -22px
        font-size: 30px
        color: #fff
        display: block
        border-radius: 2px
        &:hover
            background: $clrPrimary

    .title-fx
        position: absolute
        bottom: 15%
        color: white
        text-align: center
        width: 100%
        font-size: 20px
        opacity: 0

// Hover Effects
.image-item:hover .image-hover-fx .image-overlay
    opacity: 0.50
    filter: alpha(opacity=50)

.image-item:hover .image-hover-fx .portfolio-zoom
    display: block
    left: 50%
    margin-left: -35px
    -webkit-transition: all 0.2s ease
    transition: all 0.2s ease

.image-item:hover .image-hover-fx .title-fx
    opacity: 1
    transition: all 0.3s ease


// Spacing
.spacing-container
    padding: 20px 0

// Tint
.tint
    background: rgba(0, 0, 0, .5)
    width: 100%
    height: 100%
    position: absolute
    z-index: 1

/* ----- BLOG ----- */
.blog article
    border-bottom: 1px solid $clrLight
    margin-bottom: 30px

#nav-single
    border-top: 1px solid $clrLight
    padding: 25px 0

.nav-next
    float: right

.textwidget
    padding: 10px

// Pagination
.pagination .page-numbers
    padding: 10px
    background: $clrPrimary
    color: $clrBrightest
    margin-right: 5px
    border-radius: 4px

.pagination .page-numbers.current
    background: $clrSecondary
    color: $clrBrightest

/* ==========================================================================
   ADVERTISING
   ========================================================================== */

.ad-leaderboard
    width: 728px
    margin: 0 auto

@media (max-width: 768px)
    .ad-leaderboard
        display: none
        width: 0

    .ad-rectangle
        margin: 0 auto
        width: 300px

//anything above 768px show the following styles
@media (min-width: 768px)
    .ad-rectangle
        display: none


/* ==========================================================================
   RESPONSIVE CSS
   ========================================================================== */

/* Small devices (tablets, 768px and up) */
//@media (min-width: @screen-sm-min)

/* Medium devices (desktops, 992px and up) */
//@media (min-width: @screen-md-min)

/* Large devices (large desktops, 1200px and up) */
//@media (min-width: @screen-lg-min)


@media (max-width: 979px)
    body
        padding-left: 0
        padding-right: 0

// ---- BANNER ----
@media (max-width: 979px)
    .container.navbar-wrapper
        margin-bottom: 0
        width: auto

    .navbar-inner
        border-radius: 0

    nav#access
        float: none
        background-color: $clrPrimary

    .nav-collapse .navbar-form, .nav-collapse .navbar-search
        border-top: 1px solid $clrLight
        border-bottom: 1px solid $clrLight

    .navbar
        height: auto

    .carousel .item
        height: $bannerHeight

    .carousel img
        width: auto
        height: 383px


//
@media (max-width: 767px)
    header#branding
        margin-left: -20px
        margin-right: -20px

    .row
        padding-left: 15px
        padding-right: 15px

    nav
        float: none
        .nav, .nav li
            display: block

    .nav-collapse .navbar-form, .nav-collapse .navbar-search
        border-top: 1px solid $clrLight
        border-bottom: 1px solid $clrLight

    .navbar-toggle .icon-bar
        background: $clrBrightest
        
    .navbar
        height: auto
        .navbar-collapse
            background: $clrMutedDark
        
        .pull-right
            float: none !important

    .carousel
        margin-left: -20px
        margin-right: -20px

        .item
            height: 300px

        img
            height: 300px



    footer
        margin-left: -20px
        margin-right: -20px
        padding-left: 20px
        padding-right: 20px

