/* ==========================================================================
   Wordpress CSS
   ========================================================================== */

/*--------
Comment Reply
---------*/
#comments-title {
    color: #666;
    font-size: 10px;
    font-weight: 500;
    line-height: 2.6em;
    padding: 0 0 2.6em;
    text-transform: uppercase;
}
.nopassword,
.nocomments {
    color: #aaa;
    font-size: 24px;
    font-weight: 100;
    margin: 26px 0;
    text-align: center;
}
.commentlist {
    list-style: none;
    margin: 0 auto;
    width: 68.9%;
}
.content .commentlist,
.page-template-sidebar-page-php .commentlist {
    width: 100%; /* reset the width for the one-column and sidebar page layout */
}
.commentlist > li.comment {
    background: #f6f6f6;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 1.625em;
    padding: 1.625em;
    position: relative;
}
.commentlist .pingback {
    margin: 0 0 1.625em;
    padding: 0 1.625em;
}
.commentlist .children {
    list-style: none;
    margin: 0;
}
.commentlist .children li.comment {
    background: #fff;
    border-left: 1px solid #ddd;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    margin: 1.625em 0 0;
    padding: 1.625em;
    position: relative;
}
.commentlist .children li.comment .fn {
    display: block;
}
.comment-meta .fn {
    font-style: normal;
}
.comment-meta {
    line-height: 1.5em;
}
.commentlist .children li.comment .comment-meta {
    line-height: 1.625em;
    margin-left: 50px;
}
.commentlist .children li.comment .comment-content {
    margin: 1.625em 0 0;
}
.comment-meta a {
    font-weight: bold;
}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}

.comments-area ol {
    list-style: none;
}

.commentlist .avatar {
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px #e1e1e1;
    -moz-box-shadow: 0 1px 2px #e1e1e1;
    box-shadow: 0 1px 2px #e1e1e1;
    left: -102px;
    padding: 0;
    position: absolute;
    top: 0;
}
.commentlist > li:before {
    content: url(assets/images/comment-arrow.png);
    left: -21px;
    position: absolute;
}
.commentlist > li.pingback:before {
    content: '';
}
.commentlist .children .avatar {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    left: 2.2em;
    padding: 0;
    top: 2.2em;
}
a.comment-reply-link {
    background: #eee;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #666;
    display: inline-block;
    font-size: 12px;
    padding: 0 8px;
    text-decoration: none;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
    background: #888;
    color: #fff;
}
a.comment-reply-link > span {
    display: inline-block;
    position: relative;
    top: -1px;
}




/*--------
Comment Form
---------*/
#comments {
    margin-top: 20px;
    border-top: 1px solid #d3d3d3;
    margin: 1.625em auto;
    padding: 1.625em;
}

#respond {
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    width: 100%;
}
#respond input[type="text"],
#respond input[type="email"],
#respond input[type="url"],
#respond textarea {
    background: #fff;
    border: 1px solid #E5E5E5;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    padding: 7px;
    text-indent: 80px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
    position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
    background: #eee;
    -webkit-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
    -moz-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
    box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
    color: #555;
    display: inline-block;
    font-size: 11px;
    left: 1px;
    min-width: 60px;
    padding: 2px 10px;
    position: relative;
    top: 33px;
    z-index: 1;
}
#respond input[type="text"]:focus,
#respond input[type="email"]:focus,
#respond input[type="url"]:focus,
#respond textarea:focus {
    text-indent: 0;
    z-index: 1;
}
#respond textarea {
    resize: vertical;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
    color: #bd3500;
    font-size: 14px;
    font-weight: bold;
    left: -11px;
    top: 40px;
    z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as {
    font-size: 13px;
}
#respond p {
    margin: 10px 0;
}
#respond .form-submit {
    float: left;
    margin: -20px 0 10px;
}
#respond input#submit {
    border: none;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: none
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    margin: 20px 0;
    padding: 5px 42px 5px 22px;
    position: relative;
    text-transform: uppercase
}
#respond input#submit:active {
    color: #FFF;
}
#respond #cancel-comment-reply-link {
    color: #666;
    margin-left: 10px;
    text-decoration: none;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
    text-decoration: underline;
}
.commentlist #respond {
    margin: 1.625em 0 0;
    width: auto;
}
#reply-title {
    color: #373737;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}
#cancel-comment-reply-link {
    color: #888;
    display: block;
    font-size: 10px;
    font-weight: normal;
    line-height: 2.2em;
    letter-spacing: 0.05em;
    position: absolute;
    right: 1.625em;
    text-decoration: none;
    text-transform: uppercase;
    top: 1.1em;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
    color: #ff4b33;
}
#respond label {
    line-height: 2.2em;
}
#respond input[type=text] {
    display: block;
}
#respond p {
    font-size: 12px;
}
p.comment-form-comment {
    margin: 0;
}
.form-allowed-tags {
    display: none;
}



/* WYSIWYG Alignment */
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.625em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.625em;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignleft,
img.alignright,
img.aligncenter {
    margin-bottom: 1.625em;
}

/* Comments link */
.entry-header {position:relative;}
.entry-header .comments-link a {
    background: #eee url(assets/images/comment-bubble.png) no-repeat;
    color: #666;
    font-size: 13px;
    font-weight: normal;
    line-height: 35px;
    overflow: hidden;
    padding: 0 0 0;
    position: absolute;
    top: 0em;
    right: 0;
    text-align: center;
    text-decoration: none;
    width: 43px;
    height: 36px;
}
.entry-header .comments-link a:hover,
.entry-header .comments-link a:focus,
.entry-header .comments-link a:active {
    background-color: #1982d1;
    color: #fff;
    color: rgba(255,255,255,0.8);
}
.entry-header .comments-link .leave-reply {
    visibility: hidden;
}
