#icon-wordbubble {
    -skrollr-animation-name:icon-wordbubble;
}

@-skrollr-keyframes icon-wordbubble {
    1200 {
        top: 100%;
    }

    1600 {
        top:10%;
    }
}



#banner {
    -skrollr-animation-name:banner;
}

@-skrollr-keyframes banner {
    0 {
        top: 0%;
        opacity: 1;
    }

    300 {
        top:20%;
        opacity: 0.1;
    }
}

